{% extends 'base.html' %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/l.js') }}"></script>
{% endblock js %}

{% block body %}
    <h1>Good.</h1>
    <h1>Follow the <span class="white">.white-rabbit</span>.</h1>
    <div class="hidden">TRHDNEXRETJVESMYLKQQTLOJHVNTNJLFCLINBYWPGSPCSAVYYTXYA<span class="WhiteRabbit">XFK</span>LLDVGRJHSQSGTURLRGUPLMIUDFAACCOXLIFTGHMYCIRGNFEPWJHIWHFKKIXBCFFXUSGCWFDGOEVYXBMLFBDEELKBYYCRKAPXDWPIEOMYGPYLTLEWTNEJNKEIMXJPSAVFSJCDHHMCQRQQORAY</div>
{% endblock body %}